html {
  width: 100%;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  text-align: left;
  vertical-align: baseline;
  font-family: 'Fira Sans Condensed', sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

div.col{
  width: 50px;
  height: 50px;
  text-align: center;
  padding-top: 15px;
}

#tableboard{
   border: 4px solid black;
}
 #B8, #D8, #F8, #H8, #A7,#C7,#E7,#G7, #B6, #D6, #F6, #H6,#A5,#C5,#E5,#G5,#B4, #D4, #F4, #H4,#A3,#C3,#E3,#G3,#B2, #D2, #F2, #H2,#A1,#C1,#E1,#G1{
   border: 1px solid black;
   background: black;
} 
 #B7, #D7, #F7, #H7, #A8,#C8,#E8,#G8, #B5, #D5, #F5, #H5,#A6,#C6,#E6,#G6,#B3, #D3, #F3, #H3,#A4,#C4,#E4,#G4,#B1, #D1, #F1, #H1,#A2,#C2,#E2,#G2{
   border: 1px solid black;
   background: white;
} 
